body {
  background-color: #5c6bc0;
  display: flex;
  height: 100%;
  align-items: center;
}

.container {
  max-width: 350px;
  margin: auto auto;
  min-height: 470px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

input[type="text"],
input[type="text"]:focus {
  color: #333;
  border: 1px solid #ccc;
  background: #f2f2f2;
  max-width: 400px;
}

.todos-container li {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}
